In [1]:
from mgf_file_utils import parse_mgf
import numpy as np
import pandas as pd

In [2]:
file1_scans = parse_mgf('Original Spectra Files\Input Files\Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_1.mgf')
file2_scans = parse_mgf('Original Spectra Files\Input Files\Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.mgf')

In [3]:
series10 = ['Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.5777.5777.2', 
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.9562.9562.2',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.4827.4827.2',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.5882.5882.2',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.6689.6689.3',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.2968.2968.2',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.11277.11277.2',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.3751.3751.2',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.10383.10383.2',
            'Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_2.11478.11478.2']

In [4]:
series10_scans = [scan for scan in file2_scans if scan.title in series10]

In [5]:
scans = file1_scans + series10_scans

In [7]:
unique_m_zs = list(set(m_z for scan in scans for m_z in scan.m_z))
unique_m_zs.sort(reverse=True)

In [20]:
master = pd.DataFrame(index=unique_m_zs)

In [23]:
for scan in scans[:2] :
    intensity = np.zeros(len(unique_m_zs))
    indexes = np.where(np.isin(np.array(unique_m_zs), np.array(scan.m_z)))[0]
    intensity[indexes] = scan.intensity
    df = pd.DataFrame({scan.title: intensity}, index=unique_m_zs)
    master = pd.concat((master, df), axis=0)
    # master[scan.title] = intensity

In [24]:
master

,Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_1.5.5.2,Ex_AuLC1_15m_2D19_3_20um30cm_SPE50_15118120_OTOT_8645_02ng_2mz_1.8.8.2
999.9986572,NaN,NaN
999.9916992,NaN,NaN
999.9911499,NaN,NaN
999.989624,NaN,NaN
999.9733276,NaN,NaN
...,...,...
1000.035889,NaN,0.0
1000.033386,NaN,0.0
1000.020752,NaN,0.0
1000.019836,NaN,0.0
1000.004395,NaN,0.0

In [15]:
len(scans)

16151